
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.jumbotron {
    margin-bottom: 0px;
    background: #000 url("jumbobooth.png") center center;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    border: medium;
    border-color: #0f0f0f;
}

.testimg {
    float: left;
    background-size: 100%;
}

.explain {
    font-size: 300%;
    float: left;
}
.title {
    font-size: 350%;
    color: black;
    text-align: center;
    position: relative;

}
.info {
    font-weight: bold;
    font-size: 200%;
    color: black;
    text-align: center;
    position: relative;
}